:root {
    --color-blue-main: rgb(23, 107, 224);
    --color-red-header-mark: #b61a1a;
    --color-warning: #FFD43B;
    --color-dark: #1d1e20;

}

body {
    font-family: "cairo", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    height: normal;
    direction: rtl;
    margin: 0;
    padding-top: 80px;
}

a {
    line-height: 1.5;
    padding: .5rem 1rem;
    white-space: nowrap;
}

.movment {
    opacity: 0;
    animation: moveUp 1.3s ease-out forwards;
}

@keyframes moveUp {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.navbar-top {
    background-color: var(--color-red-header-mark);
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1100;
    color: #fff;
    font-weight: 800;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.navbar-custom {
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 40px;
    width: 100%;
    z-index: 1000;
}

.navbar-custom .nav-link {
    color: black;
    font-size: 22px;
    font-weight: 900;
    margin-left: 15px;
    margin-right: 15px;

}

.navbar-custom .nav-item:first-child .nav-link {
    margin-left: 0;
    margin-right: 15px;
}

.navbar-custom .nav-link:hover {
    text-decoration: underline;
}

@media (max-width: 1199.98px) {
    .navbar-nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-item {
        margin-bottom: 10px;
    }
}

/* End Header */
/* Start landing */
.landing .overlay {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
}

.landing h2 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.arrow {
    position: absolute;
    top: 50%;
    color: #1d1e20;
    padding: 8px 12px;
    font-size: 30px;
    cursor: pointer;
}

.left-arrow {
    left: 5%;
}

.right-arrow {
    right: 5%;
}

/* End landing */
/* Start Qoute */
.qoute {
    background-color: var(--color-blue-main);
    color: white;
    text-align: center;
}

.qoute h2 {
    font-size: 60px;
    padding: 20px;
    margin-bottom: 0;
    line-height: 1.5;
    padding: .5rem 1rem;
    white-space: nowrap;
}

.qoute h3 {
    font-size: 45px;
    margin-bottom: 15px;
}

.qoute h4 {
    font-size: 20px;
    margin-bottom: 0;
}

/* End Qoute */
/* Start Trips */
.trips {
    direction: ltr;
}

.sidebar ul li a :hover {
    text-decoration: underline;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    width: 100%;
    border-radius: 10px;
}

.discount-badge {
    position: absolute;
    top: 10px;
    left: 0;
    background: black;
    color: white;
    padding: 5px 12px;
    font-size: 12px;
    font-weight: 400;
}

.trips .sort {
    direction: rtl;
}

.trips .sort p {
    margin: 20px;
    gap: 20px;
    font-size: 12px;
    font-weight: bold;
}

.clickable-box {
    text-decoration: none;
    display: block;
}

.clickable-box h4,
.clickable-box p {
    color: #1d1e20;
    white-space: nowrap;
}

.clickable-box p {
    font-size: 15px;
    font-weight: normal;
}

/* End Trips */

/* Start Footer */
.footer {
    overflow: hidden;
    background-color: var(--color-blue-main);
}

.footer h4 {
    color: black;
    font-weight: 800;
    padding: 20px;
    margin-bottom: 0;
    margin-left: 75%;
    line-height: 1.5;
    padding: .5rem 1rem;
    white-space: nowrap;
}

.footer p {
    color: var(--color-warning);
    font-size: 27px;
    font-weight: 900;
    margin-left: 14%;
    line-height: 1.5;
    padding: .5rem 1rem;
    white-space: nowrap;

}

.footer .text-2 h4 {
    color: black;
    font-weight: 800;
    padding: 20px;
    margin-bottom: 0;
    margin-left: 70%;
    line-height: 1.5;
    padding: .5rem 1rem;
    white-space: nowrap;
}

.footer .text-2 p {
    text-decoration: underline;
    margin-left: 65%;

}

.footer .map {
    margin-left: 30px;
    margin-top: 30px;
    max-width: 100%;
    max-height: 50%;
}

@media (max-width: 1199.98px) {
    .footer img {
        max-width: 70% !important;
        margin: auto !important;
    }

    .footer p {
        width: 70%;
        font-size: 20px;
        white-space: wrap;

    }

    .footer svg {
        width: 25px !important;
        margin: 12px;
        display: flex;
        flex-direction: row;
        margin: 0 !important;
    }

}

@media (max-width: 768px) {
    .footer img {
        max-width: 70% !important;
        margin: auto !important;
    }

    .footer p {
        width: 70%;
        font-size: 20px;
    }

    .footer svg {
        width: 25px !important;
        margin: 12px;
        display: flex;
        flex-direction: row;
        margin: 0 !important;
    }

    .footer .map {
        margin: 15px;
    }

    .footer img {
        max-width: 80%;
        margin: auto;
        margin-right: 40px;
    }

    .footer .map iframe {
        margin: auto;
        max-width: 100%;
    }
}

.footer svg {
    width: 50px;
    margin: 28px;
    display: flex;
    flex-direction: row;
}

.footer svg:hover {
    color: white;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer span {
    font-weight: 900;
    color: black;
    direction: rtl;
}

/* End Footer */
/* Start whatsapp */
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.whatsapp-button img {
    width: 32px;
    height: 32px;
}

/*  */