.back-btn {
    font-size: 12px;
}

.h4 {
    margin-top: 40px;
    font-size: 12px;
    font-weight: 300;
}

.card {
    border: none;
}

.card-body {
    padding: 30px;
}

.text-muted {
    font-size: 0.9rem;
}

.card-1 {
    font-weight: 600;
}

.lite {
    font-weight: 600;
    font-size: 10px;
}

.flexed {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    direction: rtl;
}

.link a {
    font-size: 10px;
}

.total-1 h5 {
    font-size: 12px;
}

.total h5 {
    flex-direction: row;
    font-size: 12px;
    font-weight: 400;
}

.input-group {
    opacity: .3;
}

.input-group .form-control {
    border-radius: 0;
}

.input-group .btn {
    border-radius: 0;
    padding-left: 0px;
    padding-top: 5px;
    margin: auto;
}

button[type="submit"] {
    border-radius: 0;
}


.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
}

.form-title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.btn-primary {
    width: 100%;
    border-radius: 5px;
    font-weight: 400;
    font-size: 15px;
}


.form-control {
    font-size: 15px;
    background-color: rgba(228, 242, 253, 0.308);
    border: none;
    padding: auto;
    margin-bottom: 10px;
}

.form-control {
    font-size: 15px;
    background-color: rgba(228, 242, 253, 0.308);
    border: none;
    padding: 15px;
    margin-bottom: 10px;
}

hr {
    opacity: .1;
}